@use 'modules/layout';

.projects-section p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $text-fontSize-paragraph;
  font-weight: $text-fontWeight-primary;
}

.projects-section {
  @include layout.section;
}

.projects-section-heading-container {
  position: relative;

  font-size: $text-fontSize-heading-lvl2;

  background-color: $color-contrast-purple;

  &::after {
    content: '';
    
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);

    width: calc(732 * 100 / 1512 * 1vw);
    height: calc(112 / 64 * 1em);
  
    border-width: $border-big;
    border-left-width: 0;
    border-style: solid;
    border-color: $color-main-dark-darkest;
  }
}

.projects-section-heading {
  @include layout.content;

  margin-top: 0;
  margin-bottom: 0;

  font-size: inherit;
  font-family: $text-fontFam-secondary;
  font-weight: $text-fontWeight-primary;
  color: $color-main-light-lightest;
}

.projects-section-content {
  @include layout.group;
}

.projects-section-note {
  @include layout.content;
}

.projects-container {
  @include layout.content;
  @include layout.group;

  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.projects-item {
  @include layout.project;

  list-style: none;
  border: $border-big solid $color-main-dark-darkest;
}

.projects-item-container {
  @include layout.group;
}

.projects-item-heading {
  @extend %heading-lvl-3;
}

.projects-item-content {
  @include layout.group;
}

.projects-item-description {
  @include layout.subgroup;
}

.projects-image-item {
  width: 100%;
}

.projects-features-heading {
  @extend %heading-lvl-4;
}

.projects-features-container {
  @include layout.subgroup;
}

.projects-features-item {
  @include layout.horizontal;
  align-items: baseline;
}

.projects-features-bullet {
  @include layout.bullet;
  flex-shrink: 0;
}

.projects-links-container {
  @include layout.subgroup;
}

.projects-links-item {
  display: block;
  font-size: $text-fontSize-paragraph;
  font-weight: $text-fontWeight-links;
  color: $color-main-dark-secondary;
  letter-spacing: $text-letterSpacing-paragraph;

  &:hover {
    color: $color-contrast-purple;
  }
}

.projects-button {
  padding: calc(8 / 28 * 1em);
  font-family: $text-fontFam-primary;
  font-size: $text-fontSize-toggle;
  color: $color-main-dark-primary;
  text-decoration: underline;
  font-weight: $text-fontWeight-primary;

  border: $border;

  background-color: $color-main-light-primary;

  &:hover {
    color: $color-main-light-primary;
    background-color: $color-contrast-purple;
    border-color: $color-contrast-purple;
  }
}

