@use './modules/layout';

.about-section p {
  margin: 0;
  font-size: $text-fontSize-paragraph;
  font-weight: 300;
  color: $color-main-light-primary;
}

.about-section {
  @include layout.site;
  @include layout.section;

  background-color: $color-main-dark-primary;
}

.about-content {
  @include layout.content;
  @include layout.section;
}

.about-info {
  @include layout.group;
}

.about-contact {
  @include layout.subgroup;
}

.about-subheading {
  margin: 0;

  font-size: $text-fontSize-heading-lvl4;
  font-weight: $text-fontWeight-headings-lvl-3-4;
  color: $color-main-light-primary;
}

.about-icons-container {
  display: flex;
}

.about-icons-item {
  @include icon($color-main-light-primary);
}