$color-main-dark-darkest: #212121;
$color-main-dark-primary: #424242;
$color-main-dark-secondary: #616161;
$color-main-light-medium: #E0E0E0;
$color-main-light-primary: #FAFAFA;
$color-main-light-lightest: #FFFFFF;
$color-contrast-red: #D3715C;
$color-contrast-blue: #639CA8;
$color-contrast-purple: #462255;