$color-primary-light: #FAFAFA;
$color-primary-dark: #424242;
$color-secondary-dark: #616161;
$color-secondary-medium: #E0E0E0;
$color-lightest: #FFFFFF;
$color-darkest: #212121;
$color-red: #D3715C;
$color-blue: #639CA8;
$color-purple: #462255;