@use 'modules/layout';

.intro {
  @include layout.site;
  @include layout.intro;

  overflow: hidden;
}

.intro-lineOne {
  position: relative;

  font-size: $text-fontSize-heading-lvl1;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    z-index: -1;

    width: $width-redStripe;
    height: 100%;
    margin-right: auto;

    background-color: $color-contrast-red;
  }
}

.intro-lineOne-heading {
  @include layout.content;

  padding-top: calc(130 / 90) * 1em;
  margin-top: 0;
  margin-bottom: 0;

  font-family: $text-fontFam-secondary;
  color: $color-main-light-lightest;
}

.intro-lineTwo {
  font-size: $text-fontSize-heading-lvl2;
}
 
.intro-lineTwo-heading {
  @include layout.content;

  position: relative;

  margin-top: 0;
  margin-bottom: 0;

  font-family: $text-fontFam-secondary;
  color: $color-main-dark-primary;

  &::after {
    content: '';

    @extend %intro-decoration-border;

    position: absolute;
    left: calc(-14 / 64) * 1em;
    top: calc(-10 / 64) * 1em;

    display: block;
  
    width: 200%;
    height: calc(170 / 64 * 1em);
  }
}

.intro-lineThree{
  position: relative;
 
  font-size: $text-fontSize-heading-lvl2;

  &::after {
    content: '';

    position: absolute;
    top: 0;
    left: 14vw;
    z-index: -1;

    width: $width-blueStripe;
    height: 100%;
    margin-left: auto;
  
    background-color: $color-contrast-blue;
  }
}

.intro-lineThree-heading {
  padding-bottom: calc(70 / 64) * 1em;
  padding-left: calc(8 / 64) * 1em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14vw;

  font-family: $text-fontFam-secondary;
  color: $color-main-light-lightest;
}

.intro-icons {
  @include layout.content;

  margin-top: calc(-12 / 16 * 1rem);
}

.intro-icons-container {
  @include layout.horizontal;
}

.intro-icons-item {
  @include icon($color-main-dark-darkest);
}