
//Variables

$width-redStripe: 93.75vw;
$width-blueStripe: 86vw;
$site-frame-margin: min(1.7vw, calc(32 / 16) * 1em);
$site-frame-margin: 7vw;
$width-siteFrame: min(80vw, 80rem);

$border-small: 1px;
$border-big: 2px;

%site-frame {
  width: $width-siteFrame;
  margin-left: auto;
  margin-right: auto;
}

%intro-decoration-border {
  border-width: $border-big;
  border-right-width: 0;
  border-color: $color-darkest;
  border-style: solid;
}