
//Variables

$width-redStripe: 93.75vw;
$width-blueStripe: 86vw;
$site-frame-margin: min(1.7vw, calc(32 / 16) * 1em);
$site-frame-margin: 7vw;

$border-big: min(calc(1 * 100 / 280 * 1vw), calc(2 / 16 * 1rem));
$border: $border-big solid $color-main-dark-darkest;

// Logic

%intro-decoration-border {
  border-width: $border-big;
  border-right-width: 0;
  border-color: $color-main-dark-darkest;
  border-style: solid;
}

@mixin icon($color) {
  position: relative;
  bottom: min(calc(12 * 100 / 900 * 1vw), 12 / 16 * 1rem);

  width: clamp(50 / 16 * 1rem, 92 * 100 / 900 * 1vw, 94 / 16 * 1rem);
  height: clamp(50 / 16 * 1rem, 92 * 100 / 900 * 1vw, 94 / 16 * 1rem);

  fill: none;
  stroke: $color;
  stroke-width: $border-big;

  cursor: pointer;

  &:hover {
    fill: $color;
  }
}