@import 'color';
@import 'rules';
@import 'typography';
@import 'components/intro';
@import 'components/skills';
@import 'components/projects';
@import 'components/about';
@import 'components/footer';

//Helpers
.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

//Global
body {
  margin: 0;

  font-family: $font-primary;
  color: $color-primary-dark;

  background-color: $color-primary-light;
}

//Components
.temp-image {
  width: 100%;
  height: 400px;
  background: linear-gradient($color-blue, $color-red);
}

.temp-portrait {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: linear-gradient($color-blue, $color-red);
}