@import 'color';
@import 'rules';
@import 'text';
@import 'intro';
@import 'skills';
@import 'projects';
@import 'about';
@import 'footer';

//Helpers
.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

//Global
body {
  margin: 0;

  font-family: $text-fontFam-primary;
  color: $color-main-dark-primary;

  background-color: $color-main-light-primary;
}

//Components
.temp-image {
  width: 100%;
  height: 400px;
  background: linear-gradient($color-contrast-blue, $color-contrast-red);
}

.temp-portrait {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: linear-gradient($color-contrast-blue, $color-contrast-red);
}