@import 'color';
@import 'rules';
@import 'text';
@import '1intro';
@import '2skills';
@import '3projects';
@import '4about';
@import '5footer';

//Helpers
.visually-hidden {
  position: absolute;
  left:     -10000px;
  top:      auto;
  width:    1px;
  height:   1px;
  overflow: hidden;
}

//Global
body {
  margin: 0;

  font-family: $text-fontFam-primary;
  color: $color-main-dark-primary;

  background-color: $color-main-light-primary;
}