@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/functions';
@import 'helpers/resetCSS';
@import 'sections/header';
@import 'sections/intro';
@import 'sections/skills';

.projects {
  width: 90%;
  max-width: 1352px;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

.project-imageContainer {
  overflow: hidden;
}

.project-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1352px;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

