.intro-lineTwo-heading::after {
  border-width: min(0.3571428571vw, 0.125rem);
  border-right-width: 0;
  border-color: #212121;
  border-style: solid;
}

.projects-features-heading, .projects-item-heading {
  margin: 0;
  font-weight: 500;
}

.projects-item-heading {
  font-size: clamp(1rem, 5.1vw, 2.875rem);
}

.projects-features-heading {
  font-size: clamp(1rem, 3.6vw, 2rem);
}

.skills-primary-item {
  font-size: clamp(1.125rem, 4.4444444444vw, 2.5rem);
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: 300;
}

.skills-secondary-item {
  font-size: clamp(1rem, 3.1vw, 1.75rem);
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: 300;
}

.footer-icons, .about-image-container, .about-content, .projects-container, .projects-section-note, .projects-section-heading, .skills-section-content, .intro-lineOne-heading, .intro-lineTwo-heading, .intro-icons {
  margin-left: auto;
  margin-right: auto;
}

.intro {
  width: 100%;
  padding-bottom: min(4rem, 7.1111111111vw);
  overflow: hidden;
}

.intro-lineOne {
  position: relative;
  font-size: clamp(2rem, 10vw, 5.625rem);
}
.intro-lineOne::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 93.75vw;
  height: 100%;
  margin-right: auto;
  background-color: #D3715C;
}

.intro-lineOne-heading {
  width: min(84.7vw, 80rem);
  padding-top: 1.4444444444em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Forum", cursive;
  color: #FFFFFF;
}

.intro-lineTwo {
  font-size: clamp(1.5rem, 7.1vw, 4rem);
}

.intro-lineTwo-heading {
  width: min(84.7vw, 80rem);
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Forum", cursive;
  color: #424242;
}
.intro-lineTwo-heading::after {
  content: "";
  position: absolute;
  left: -0.21875em;
  top: -0.15625em;
  display: block;
  width: 200%;
  height: 2.65625em;
}

.intro-lineThree {
  position: relative;
  font-size: clamp(1.5rem, 7.1vw, 4rem);
}
.intro-lineThree::after {
  content: "";
  position: absolute;
  top: 0;
  left: 14vw;
  z-index: -1;
  width: 86vw;
  height: 100%;
  margin-left: auto;
  background-color: #639CA8;
}

.intro-lineThree-heading {
  padding-bottom: 1.09375em;
  padding-left: 0.125em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14vw;
  font-family: "Forum", cursive;
  color: #FFFFFF;
}

.intro-icons {
  width: min(84.7vw, 80rem);
}

.intro-icons-container {
  display: flex;
  column-gap: min(1rem, 1.7777777778vw);
}

.intro-icons-item {
  position: relative;
  bottom: min(1.3333333333vw, 0.75rem);
  width: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  height: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  fill: none;
  stroke: #212121;
  stroke-width: min(0.3571428571vw, 0.125rem);
  cursor: pointer;
}
.intro-icons-item:hover {
  fill: #212121;
}

.footer-icons, .about-image-container, .about-content, .projects-container, .projects-section-note, .projects-section-heading, .intro-lineOne-heading, .intro-lineTwo-heading, .intro-icons, .skills-section-content {
  margin-left: auto;
  margin-right: auto;
}

.skills-section {
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 7.1111111111vw);
  padding-top: min(4rem, 7.1111111111vw);
  padding-bottom: min(4rem, 7.1111111111vw);
  padding-bottom: min(4rem, 7.1111111111vw);
  position: relative;
  padding-top: 0;
  background-color: #E0E0E0;
}

.skills-section-content {
  width: min(84.7vw, 80rem);
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.5555555556vw);
}

.skills-heading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12.1739130435em;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1rem, 5.1vw, 2.875rem);
}
.skills-heading-container::after {
  content: "";
  position: absolute;
  height: 2.1304347826em;
  width: 100%;
  border: min(0.3571428571vw, 0.125rem) #212121 solid;
}

.skills-heading-content {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  text-align: center;
}

.skills-primary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
}

.skills-primary-item {
  margin: 0;
}

.skills-secondary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
}

.skills-secondary-item {
  margin: 0;
}

.footer-icons, .about-image-container, .about-content, .intro-lineOne-heading, .intro-lineTwo-heading, .intro-icons, .skills-section-content, .projects-section-heading, .projects-section-note, .projects-container {
  margin-left: auto;
  margin-right: auto;
}

.projects-section p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(1rem, 2.6vw, 1.5rem);
  font-weight: 300;
}

.projects-section {
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 7.1111111111vw);
  padding-top: min(4rem, 7.1111111111vw);
  padding-bottom: min(4rem, 7.1111111111vw);
}

.projects-section-heading-container {
  position: relative;
  font-size: clamp(1.5rem, 7.1vw, 4rem);
  background-color: #462255;
}
.projects-section-heading-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: 48.4126984127vw;
  height: 1.75em;
  border-width: min(0.3571428571vw, 0.125rem);
  border-left-width: 0;
  border-style: solid;
  border-color: #212121;
}

.projects-section-heading {
  width: min(84.7vw, 80rem);
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-family: "Forum", cursive;
  font-weight: 300;
  color: #FFFFFF;
}

.projects-section-content {
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.5555555556vw);
}

.projects-section-note {
  width: min(84.7vw, 80rem);
}

.projects-container {
  width: min(84.7vw, 80rem);
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.5555555556vw);
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.projects-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: min(2rem, 3.5555555556vw);
  padding: min(2rem, 3.5555555556vw);
  list-style: none;
  border: min(0.3571428571vw, 0.125rem) solid #212121;
}

.projects-item-container {
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.5555555556vw);
}

.projects-item-content {
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.5555555556vw);
}

.projects-item-description {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7777777778vw);
}

.projects-image-item {
  width: 100%;
}

.projects-features-container {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7777777778vw);
}

.projects-features-item {
  display: flex;
  column-gap: min(1rem, 1.7777777778vw);
  align-items: baseline;
}

.projects-features-bullet {
  width: max(0.75rem, 1.3227513228vw);
  height: max(0.75rem, 1.3227513228vw);
  flex-shrink: 0;
}

.projects-links-container {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7777777778vw);
}

.projects-links-item {
  display: block;
  font-size: clamp(1rem, 2.6vw, 1.5rem);
  font-weight: 600;
  color: #616161;
  letter-spacing: 0.05rem;
}
.projects-links-item:hover {
  color: #462255;
}

.projects-button {
  padding: 0.2857142857em;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 3.1vw, 1.75rem);
  color: #424242;
  text-decoration: underline;
  font-weight: 300;
  border: min(0.3571428571vw, 0.125rem) solid #212121;
  background-color: #FAFAFA;
}
.projects-button:hover {
  color: #FAFAFA;
  background-color: #462255;
  border-color: #462255;
}

.footer-icons, .intro-lineOne-heading, .intro-lineTwo-heading, .intro-icons, .skills-section-content, .projects-section-heading, .projects-section-note, .projects-container, .about-content, .about-image-container {
  margin-left: auto;
  margin-right: auto;
}

.about-section p {
  margin: 0;
  font-size: clamp(1rem, 2.6vw, 1.5rem);
  font-weight: 300;
  color: #FAFAFA;
}

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 7.1111111111vw);
  padding-top: min(4rem, 7.1111111111vw);
  padding-bottom: min(4rem, 7.1111111111vw);
  background-color: #424242;
}

.about-content {
  width: min(84.7vw, 80rem);
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 7.1111111111vw);
}

.about-image-container {
  width: clamp(6.25rem, 20vw, 12.5rem);
  height: clamp(6.25rem, 20vw, 12.5rem);
}

.about-image-item {
  width: 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.5555555556vw);
}

.about-contact {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7777777778vw);
}

.about-subheading {
  margin: 0;
  font-size: clamp(1rem, 3.6vw, 2rem);
  font-weight: 500;
  color: #FAFAFA;
}

.about-icons-container {
  display: flex;
  column-gap: min(1rem, 1.7777777778vw);
}

.about-icons-item {
  position: relative;
  bottom: min(1.3333333333vw, 0.75rem);
  width: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  height: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  fill: none;
  stroke: #FAFAFA;
  stroke-width: min(0.3571428571vw, 0.125rem);
  cursor: pointer;
}
.about-icons-item:hover {
  fill: #FAFAFA;
}

.intro-lineOne-heading, .intro-lineTwo-heading, .intro-icons, .skills-section-content, .projects-section-heading, .projects-section-note, .projects-container, .about-content, .about-image-container, .footer-icons {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 7.1111111111vw);
  padding-top: min(4rem, 7.1111111111vw);
  padding-bottom: min(4rem, 7.1111111111vw);
  background-color: #212121;
}

.footer-icons {
  width: min(84.7vw, 80rem);
}

.footer-icons-container {
  display: flex;
  column-gap: min(1rem, 1.7777777778vw);
}

.footer-icons-item {
  position: relative;
  bottom: min(1.3333333333vw, 0.75rem);
  width: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  height: clamp(3.125rem, 10.2222222222vw, 5.875rem);
  fill: none;
  stroke: #FAFAFA;
  stroke-width: min(0.3571428571vw, 0.125rem);
  cursor: pointer;
}
.footer-icons-item:hover {
  fill: #FAFAFA;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #424242;
  background-color: #FAFAFA;
}

/*# sourceMappingURL=style.css.map */
