.intro-lineTwo-heading::after {
  border-width: 0.125rem;
  border-right-width: 0;
  border-color: #212121;
  border-style: solid;
}

.projects-features-heading, .projects-item-heading {
  margin: 0;
  font-weight: 500;
}

.projects-item-heading {
  font-size: clamp(1rem, 5.1vw, 2.875rem);
}

.projects-features-heading {
  font-size: clamp(1rem, 3.6vw, 2rem);
}

.skills-primary-item {
  font-size: clamp(1.125rem, 4.4444444444vw, 2.5rem);
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: 300;
}

.skills-secondary-item {
  font-size: clamp(1rem, 3.1vw, 1.75rem);
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: 300;
}

.intro {
  width: 100%;
  padding-bottom: min(4rem, 6.9vh);
  overflow: hidden;
}

.intro-lineOne {
  position: relative;
  font-size: clamp(2rem, 10vw, 5.625rem);
}
.intro-lineOne::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 93.75vw;
  height: 100%;
  margin-right: auto;
  background-color: #D3715C;
}

.intro-lineOne-heading {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.4444444444em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Forum", cursive;
  color: #FFFFFF;
}

.intro-lineTwo {
  font-size: clamp(1.5rem, 7.1vw, 4rem);
}

.intro-lineTwo-heading {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Forum", cursive;
  color: #424242;
}
.intro-lineTwo-heading::after {
  content: "";
  position: absolute;
  left: -0.21875em;
  top: -0.15625em;
  display: block;
  width: 200%;
  height: 2.65625em;
}

.intro-lineThree {
  position: relative;
  font-size: clamp(1.5rem, 7.1vw, 4rem);
}
.intro-lineThree::after {
  content: "";
  position: absolute;
  top: 0;
  left: 14vw;
  z-index: -1;
  width: 86vw;
  height: 100%;
  margin-left: auto;
  background-color: #639CA8;
}

.intro-lineThree-heading {
  padding-bottom: 1.09375em;
  padding-left: 0.125em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 14vw;
  font-family: "Forum", cursive;
  color: #FFFFFF;
}

.intro-icons {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.75rem;
}

.intro-icons-container {
  display: flex;
  column-gap: min(1rem, 1.7vh);
}

.intro-icons-item {
  width: clamp(2rem, 9.9vh, 5.75rem);
  height: clamp(2rem, 9.9vh, 5.75rem);
  fill: none;
  stroke: #212121;
  stroke-width: 0.125rem;
  cursor: pointer;
}
.intro-icons-item:hover {
  fill: #212121;
}

.skills-section {
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 6.9vh);
  padding-top: min(4rem, 6.9vh);
  padding-bottom: min(4rem, 6.9vh);
  padding-bottom: min(4rem, 6.9vh);
  position: relative;
  padding-top: 0;
  background-color: #E0E0E0;
}

.skills-section-content {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.4vh);
}

.skills-heading-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12.1739130435em;
  margin-left: auto;
  margin-right: auto;
  font-size: clamp(1rem, 5.1vw, 2.875rem);
}
.skills-heading-container::after {
  content: "";
  position: absolute;
  height: 2.1304347826em;
  width: 100%;
  border: 0.125rem #212121 solid;
}

.skills-heading-content {
  margin: 0;
  font-size: inherit;
  font-weight: 500;
  text-align: center;
}

.skills-primary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
}

.skills-primary-item {
  margin: 0;
}

.skills-secondary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
}

.skills-secondary-item {
  margin: 0;
}

.projects-section p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: clamp(1rem, 2.6vw, 1.5rem);
  font-weight: 300;
}

.projects-section {
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 6.9vh);
  padding-top: min(4rem, 6.9vh);
  padding-bottom: min(4rem, 6.9vh);
}

.projects-section-heading-container {
  position: relative;
  font-size: clamp(1.5rem, 7.1vw, 4rem);
  background-color: #462255;
}
.projects-section-heading-container::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: 11.4375em;
  height: 1.75em;
  border-width: 0.125rem;
  border-left-width: 0;
  border-style: solid;
  border-color: #212121;
}

.projects-section-heading {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
  font-family: "Forum", cursive;
  font-weight: 300;
  color: #FFFFFF;
}

.projects-section-content {
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.4vh);
}

.projects-section-note {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
}

.projects-container {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.4vh);
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.projects-item {
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.4vh);
  padding: min(2rem, 3.4vh);
  list-style: none;
  border: 0.125rem solid #212121;
}

.projects-item-content {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7vh);
}

.projects-features-container {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7vh);
}

.projects-features-item {
  display: flex;
  column-gap: min(1rem, 1.7vh);
}

.projects-links-container {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7vh);
}

.projects-links-item {
  display: block;
  font-size: clamp(1rem, 2.6vw, 1.5rem);
  font-weight: 600;
  color: #616161;
  letter-spacing: 0.05rem;
}
.projects-links-item:hover {
  color: #462255;
}

.projects-button {
  padding: 0.2857142857em;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1rem, 3.1vw, 1.75rem);
  color: #424242;
  text-decoration: underline;
  font-weight: 300;
  border: 0.125rem solid #212121;
  background-color: #FAFAFA;
}
.projects-button:hover {
  color: #FAFAFA;
  background-color: #462255;
  border-color: #462255;
}

.about-section p {
  margin: 0;
  font-size: clamp(1rem, 2.6vw, 1.5rem);
  font-weight: 300;
  color: #FAFAFA;
}

.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 6.9vh);
  padding-top: min(4rem, 6.9vh);
  padding-bottom: min(4rem, 6.9vh);
  background-color: #424242;
}

.about-content {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 6.9vh);
  padding-top: min(4rem, 6.9vh);
  padding-bottom: min(4rem, 6.9vh);
}

.about-info {
  display: flex;
  flex-direction: column;
  row-gap: min(2rem, 3.4vh);
}

.about-contact {
  display: flex;
  flex-direction: column;
  row-gap: min(1rem, 1.7vh);
}

.about-subheading {
  margin: 0;
  font-size: clamp(1rem, 3.6vw, 2rem);
  font-weight: 500;
  color: #FAFAFA;
}

.about-icons-container {
  display: flex;
}

.about-icons-item {
  width: clamp(2rem, 9.9vh, 5.75rem);
  height: clamp(2rem, 9.9vh, 5.75rem);
  fill: none;
  stroke: #FAFAFA;
  stroke-width: 0.125rem;
  cursor: pointer;
}
.about-icons-item:hover {
  fill: #FAFAFA;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: min(4rem, 6.9vh);
  padding-top: min(4rem, 6.9vh);
  padding-bottom: min(4rem, 6.9vh);
  background-color: #212121;
}

.footer-icons {
  width: min(84.7vw, 80rem);
  margin-left: auto;
  margin-right: auto;
}

.footer-icons-container {
  display: flex;
}

.footer-icons-item {
  width: clamp(2rem, 9.9vh, 5.75rem);
  height: clamp(2rem, 9.9vh, 5.75rem);
  fill: none;
  stroke: #FAFAFA;
  stroke-width: 0.125rem;
  cursor: pointer;
}
.footer-icons-item:hover {
  fill: #FAFAFA;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #424242;
  background-color: #FAFAFA;
}

.temp-image {
  width: 100%;
  height: 400px;
  background: linear-gradient(#639CA8, #D3715C);
}

.temp-portrait {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background: linear-gradient(#639CA8, #D3715C);
}

/*# sourceMappingURL=style.css.map */
