.about p {
  margin: 0;
  font-size: $text-fontSize-paragraph;
  font-weight: 300;
  color: $color-main-light-primary;
}

.about {
  background-color: $color-main-dark-primary;
}

.about-container {
  width: $width-siteFrame;
  margin-left: auto;
  margin-right: auto;
}

.about-subheading {
  margin: 0;

  font-size: $text-fontSize-heading-lvl4;
  font-weight: $text-fontWeight-headings-lvl-3-4;
  color: $color-main-light-primary;
}

.about-icons {
  width: $width-siteFrame;
  margin-left: auto;
  margin-right: auto;
}

.about-icons-container {
  display: flex;
}

.about-icons-github {
  width: 6.4vw;
  height: 6.4vw;
}