.footer {
  width: 100%;
  background-color: $color-main-dark-darkest;
}

.footer-icons {
  width: $width-siteFrame;
  margin-left: auto;
  margin-right: auto;
}

.footer-icons-container {
  display: flex;
}

.footer-icons-item {
 @include icon($color-main-light-primary);
}