.projects-section p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $text-fontSize-paragraph;
  font-weight: $text-fontWeight-primary;
}

.projects-heading-container {
  position: relative;

  font-size: $text-fontSize-heading-lvl2;

  background-color: $color-contrast-purple;

  &::after {
    content: '';
    
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);

    width: calc(732 / 64 * 1em);
    height: calc(112 / 64 * 1em);
  
    border-width: $border-big;
    border-left-width: 0;
    border-style: solid;
    border-color: $color-main-dark-darkest;
  }
}

.projects-heading-content {
  width: $width-siteFrame;
  margin: 0 auto;

  font-size: inherit;
  font-family: $text-fontFam-secondary;
  font-weight: $text-fontWeight-primary;
  color: $color-main-light-lightest;
}

.projects-note {
  width: $width-siteFrame;
  margin: 0 auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  row-gap: $gap-vert-medium;

  width: $width-siteFrame;
  padding: 0;
  margin: 0 auto;
}

.projects-item {

  list-style: none;
  border: $border-big solid $color-main-dark-darkest;
}

.project-heading {
  @extend %heading-lvl-3;
}

.project-features-heading {
  @extend %heading-lvl-4;
}

.projects-link {
  @extend %link;
}

.projects-button {
  padding: calc(8 / 28 * 1em);
  font-size: $text-fontSize-toggle;
  color: $color-main-dark-primary;
  text-decoration: underline;
  font-weight: $text-fontWeight-primary;

  border: $border;

  background-color: transparent;
}