.skills {
  position: relative;

  background-color: $color-main-light-medium;
}

.skills-container {
  width: $width-siteFrame;
  margin-left: auto;
  margin-right: auto;
}

.skills-heading-container { 
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: calc(560 / 46 * 1em);
  margin-left: auto;
  margin-right: auto;

  font-size: $text-fontSize-heading-lvl3;

  &::after {
    content: '';

    position: absolute;

    height: calc(98 / 46 * 1em);
    width: 100%;

    border: $border-big $color-main-dark-darkest solid;
  }
}

.skills-heading-content {
  margin: 0;

  font-size: inherit;
  font-weight: $text-fontWeight-headings-lvl-3-4;
  text-align: center;
}

.skill-primary {
  @extend %skill-main;
  display: inline;

  text-transform: uppercase;
  font-weight: 300;
}

.skill-secondary {
  @extend %skill-secondary;

  font-weight: 300;
  display: inline;
}